/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Globals */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

body {
    line-height: 1.6;
    font-family: chaparral-pro;
    font-size: 110%;
}

h1, h2, h3, h4 {
    font-family: brandon-grotesque, helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: .25rem;
}

h2 {
    color: #252525;
}

a {
    text-decoration: none;
}

/* Header */

.main-header {
    background-color: hsla(60, 1%, 14%, .95);
    overflow: auto;
    position: relative;
    z-index: 150;
    height: 7em;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.main-header .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-header a {
    color: white;
    text-transform: uppercase;
    font-size: .5rem;
    text-decoration: none;
}

.main-header .fa {
    color: white;
    padding: 0 .5em;
}

/* Menu Nav */

.main-nav {
    float: left;
    margin: 3em 2em 2em 3em;
}

.main-nav h2 {
    color: #fff;
    display: inline-block;
    font-weight: 400;
    padding-bottom: .5em;
}

.main-nav:hover h2 {
    color: hsla(0,0%, 100%, .75);
    transition: all .5s ease-out;
}

.main-nav:hover .fa {
    color: hsla(0,0%, 100%, .75);
    transition: all .5s ease-out;
}

/* Order Nav */

.featured-nav {
    float: right;
    margin: 2em 3em 2em 2em;
    text-align: right;
}

.featured-nav h2 {
    color: #fff;
    display: inline-block;
    font-weight: 400;
    width: 50%;
}

.featured-nav:hover h2{
    color: hsla(0,0%, 100%, .75);
    transition: all .5s ease-out;
}

.featured-nav:hover .fa {
    color: hsla(0,0%, 100%, .75);
    transition: all .5s ease-out;
}

/* Jumbotron */

.jumbotron {
    width: 100%;
    color: #fff;
    text-shadow: 1px 1px 5px #555;
    margin: 0;
    position: relative;
    max-height: 590px;
    overflow: hidden;
}

.jumbotron h1 {
    line-height: 1.2;
}

.jumbotron_bg {
    display: block;
    width: 100%;
    z-index: -50;
}

.jumbotron-content {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 75%;
}

.jumbotron-content .slideshow-icons {
    margin-top: 2em;
}

.jumbotron-content .slideshow-icons i {
    margin-right: .85em;
    font-size: .85rem;
}

.slideshow-arrows {
    position: absolute;
    top: 50%;
    width: 98%;
}

.slideshow-arrows .arrow-left {
    left: 0;
}

.slideshow-arrows .arrow-right {
    right: 0;
}

/* Button */

.button {
    color: #fff;
    background-color: hsla(99, 41%, 42%, 1.00);
    font-family: brandon-grotesque, helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    text-decoration: none;
    font-size: .9rem;
    padding: 1em 2.25em;
    text-shadow: none;
    margin-top: .5em;
    display: inline-block;
}

/* Main Paragraph */

.main-paragraph {
    background-image: url(../img/texture.jpg);
    height: 500px;
    position: relative;
    background-size: cover;
}

.paragraph-wrapper {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

blockquote h3 {
    font-family: chaparral-pro, sans-serif;
    text-transform: capitalize;
    font-style: italic;
    font-weight: 400;
    color: hsla(99, 41%, 42%, 1.00);
    margin: 0;
}

blockquote p {
    color: #252525;
    text-transform: uppercase;
    font-size: 1rem;
    margin: 0;
}

/* Large Grid Section */

.paragraph-with-grid {
    position: relative;
    height: 700px;
}

.lg-grid-container {
    width: 100%;
    margin: 0 1em;
    overflow: auto;
}

.lg-grid {
    width: 30%;
    float: left;
    margin: 1em 1em 0 0;
    position: relative;
}

.lg-grid:hover {
    background-color:  ;
}

.lg-grid h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: #fff;
    text-shadow: 1px 1px 5px #555;
}

.paragraph-with-grid {
    position: relative;
}

.paragraph-with-grid .paragraph-wrapper {
    top: 70%;
}

form {
    display: inline-block;
}

/* Instagram Grid */

.grid-wrapper {
    margin: 1.5em;
    width: 80%;
}

.sm-grid {
    background-image: url(../img/texture.jpg);
    height: 300px;
}

.sm-grid-image {
    width: 15%;
}

/* Media */

.media {
    color: #fff;
    text-align: center;
    background-color: #252525;
    height: 170px;
}

.media h3 {
    font-size: 1rem;
}

.media-icons {
    display: inline-block;
    margin: 2em 0 0 0;
}

.media-icons i {
    color: #252525;
    background-image: url(../img/green-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 1em;
}

/* Footer */

.main-footer {
    color: #fff;
    text-align: center;
    height: 60px;
    background-color: hsla(99, 41%, 42%, 1.00);
}

.main-footer p {
    padding: 1.65em 0;
    font-size: .75rem;
    letter-spacing: 0.05rem;
    background-image: url(../img/janky-farm.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 17%;
    margin-top: 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
